{% extends "base.html" %}
{% load staticfiles %}
{% load cloudinary %}
{% load crispy_forms_tags %}


{% block css %}
    {{ block.super }}
    <link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <link href="{% static "css/jquery-ui-timepicker-addon.css" %}" rel="stylesheet">
{% endblock css %}


{% block navbar %}
    <ul class="nav navbar-nav">
        <li><a href={% url 'core:home' %}>Artworks</a></li>
        <li class="active"><a href={% url 'auctions:auction_list' %}>Auctions</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href={% url 'events:ping' %}>Ping</a></li>
    </ul>
    <div class="nav navbar-btn navbar-right btn-group">
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'core:artwork_add' %}">Add Artwork</a>
            <a class="btn btn-default" href={% url 'profiles:logout' %}>Logout</a>
        {% else %}
            <a data-toggle="modal" href="#loginModal" class="btn btn-default">Log in</a>
            <a href="#" class="btn btn-default">Sign up</a>
        {% endif %}
    </div>
{% endblock navbar %}


{% block content %}
    <form role="form" action="{% url "auctions:auction_edit" slug=lot.slug %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update</button>
        <a data-toggle="modal" href="#deleteModal" class="btn btn-danger">Delete</a>
    </form>
    {% include "includes/_auction_delete_confirmation.html" %}
{% endblock content %}


{% block js %}
    {{ block.super }}
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="{% static "js/jquery-ui-timepicker-addon.js" %}"></script>
    <script>
        $(function () {
            $("#id_start").datetimepicker({
                timeFormat: "HH:mm"
            });
            $("#id_end").datetimepicker({
                timeFormat: "HH:mm"
            });
        });
    </script>
{% endblock js %}