Django==1.5.4
South==0.8.2
Unidecode==0.04.14
boto==2.13.3
cloudinary==1.0.10
dj-database-url==0.2.2
django-appconf==0.6
django-braces==1.2.2
django-crispy-forms==1.4.0
django-debug-toolbar==0.9.4
django-disqus==0.4.1
django-floppyforms==1.1
django-money==0.3.3
django-pylibmc-sasl==0.2.4
django-split-settings==0.1.1
django-storages==1.1.8
django-suit==0.2.5
django-taggit==0.10
django-tastypie==0.10.0
django-uuslug==1.0.0
djrill==0.6.0
gunicorn==18.0
newrelic==2.0.0.1
oauthlib==0.6.0
poster==0.8.2
psycopg2==2.5.1
pubnub==3.3.2
py==1.4.17
py-moneyed==0.4.1
pylibmc==1.2.3
pytest==2.4.2
python-dateutil==1.5
python-mimeparse==0.1.4
python-openid==2.2.5
python-slugify==0.0.6
python-social-auth==0.1.14
pytz==2013.7
redis==2.8.0
requests==2.0.0
requests-oauthlib==0.4.0
six==1.4.1
wsgiref==0.1.2
