Django==1.5.4
South==0.8.2
Unidecode==0.04.14
boto==2.15.0
cloudinary==1.0.10
dj-database-url==0.2.2
django-appconf==0.6
django-braces==1.2.2
django-crispy-forms==1.4.0
django-debug-toolbar==0.9.4
django-disqus==0.4.1
django-floppyforms==1.1
django-oauth2-provider==0.2.6
django-pylibmc-sasl==0.2.4
django-split-settings==0.1.1
django-storages==1.1.8
django-suit==0.2.5
django-taggit==0.10
django-uuslug==1.0.0
djangorestframework==2.3.8
djrill==0.6.0
gunicorn==18.0
httplib2==0.8
newrelic==2.4.0.4
oauthlib==0.6.0
paypalrestsdk==0.6.3
poster==0.8.2
psycopg2==2.5.1
pubnub==3.3.2
py==1.4.17
pylibmc==1.2.3
pytest==2.4.2
python-openid==2.2.5
python-slugify==0.0.6
python-social-auth==0.1.14
pytz==2013.7
requests==2.0.0
requests-oauthlib==0.4.0
shortuuid==0.4
six==1.4.1
urbanairship==0.6.2
wsgiref==0.1.2
