{% extends "base.html" %}
{% load cloudinary %}


{% block navbar %}
    <ul class="nav navbar-nav">
        <li class="active"><a href={% url 'core:home' %}>Artworks</a></li>
        <li><a href={% url 'auctions:auction_list' %}>Auctions</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="{% url 'core:contact' %}">Contact</a></li>
        <li><a href="{% url 'events:ping' %}">Ping</a></li>
    </ul>
    <div class="nav navbar-btn navbar-right btn-group">
        {% if user.is_authenticated %}
            <a class="btn btn-primary" href="{% url 'core:artwork_add' %}">Add Artwork</a>
            <a class="btn btn-default" href={% url 'profiles:logout' %}>Logout</a>
        {% else %}
            <a data-toggle="modal" href="#loginModal" class="btn btn-default">Log in</a>
            <a href="#" class="btn btn-default">Sign up</a>
        {% endif %}
    </div>
{% endblock navbar %}


{% block content %}
    <div id="container">
        {% for artwork in artwork_list %}
            <div class="item">
                <a href="{{ artwork.get_absolute_url }}">
                    {% cloudinary artwork.get_photo.image THUMBNAIL %}
                </a>
                <p>{{ artwork.title }} <span class="text-muted">by {{ artwork.artist }}</span></p>
                <p>
                    {% for tag in artwork.dehydrate_tags %}
                        <a href={% url 'core:tag_list' tag=tag %}><span class="badge">{{ tag }}</span></a>
                    {% endfor %}
                </p>
            </div>
        {% endfor %}
    </div>
    {% include "includes/_pagination.html" %}
{% endblock content %}


{% block js %}
    {{ block.super }}
    <script>
        var $container = $('#container');
        // initialize
        $container.masonry({
            columnWidth: 270,
            itemSelector: '.item',
            gutter: 15,
            isFitWidth: true,
            isInitLayout: false
        });

        // layout Masonry again after all images have loaded
        $container.imagesLoaded(function () {
            $container.masonry();
        });

        $container.infinitescroll(
                {
                    navSelector: ".pagination",
                    nextSelector: ".next",
                    itemSelector: ".item",
                    loading: {
                        finishedMsg: "",
                        img: "http://pathtoyour.com/loading.gif",
                        msg: null,
                        msgText: ""
                    }
                },
                function (newItems) {
                    var $newItems = $(newItems).css({"opacity": 0});
                    $newItems.imagesLoaded(function () {
                        $newItems.animate({"opacity": 1});
                        $container.masonry("appended", $newItems, true);
                    });
                }
        );
    </script>
{% endblock js %}