{% extends "base.html" %}
{% load cloudinary %}

{% block content %}
    <div id="container">
        {% for photo in photos %}
            <div class="item">
                <a href="{{ photo.image.url }}" target="_blank">
                    {# Renders an IMG tag for a CloudinaryImage objects. #}
                    {# THUMBNAIL defined in context_processors #}
                    {% cloudinary photo.image THUMBNAIL %}
                    <p>{{ photo.image.public_id }} - {{ photo.title }}</p>
                </a>
            </div>
        {% endfor %}
    </div>
    {% include "_pagination.html" %}
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script>
        var $container = $('#container');
        // initialize
        $container.masonry({
            columnWidth: 270,
            itemSelector: '.item',
            gutter: 15,
            isFitWidth: true,
            isInitLayout: false
        });

        // layout Masonry again after all images have loaded
        $container.imagesLoaded(function () {
            $container.masonry();
        });


        $container.infinitescroll(
                {
                    navSelector: ".pagination",
                    nextSelector: ".next",
                    itemSelector: ".item",
                    loading: {
                        finishedMsg: "",
                        img: "http://pathtoyour.com/loading.gif",
                        msg: null,
                        msgText: ""
                    }
                },
                function (newProducts) {
                    var $newProds = $(newProducts).css({"opacity": 0});
                    $newProds.imagesLoaded(function () {
                        $newProds.animate({"opacity": 1});
                        $container.masonry("appended", $newProds, true);
                    });
                }
        );


        $(document).ready(function () {
            // Cloudinary jQuery integration library uses jQuery File Upload widget
            // (see http://blueimp.github.io/jQuery-File-Upload/).
            // Any file input field with cloudinary-fileupload class is automatically
            // wrapped using the File Upload widget and configured for Cloudinary uploads.
            // You can further customize the configuration using .fileupload method
            // as we do below.
            $(".cloudinary-fileupload")
                    .fileupload({
                        // Uncomment the following lines to enable client side image resizing and valiation.
                        // Make sure cloudinary/processing is included the js file
                        //disableImageResize: false,
                        //imageMaxWidth: 800,
                        //imageMaxHeight: 600,
                        //acceptFileTypes: /(\.|\/)(gif|jpe?g|png|bmp|ico)$/i,
                        //maxFileSize: 20000000, // 20MB
                        dropZone: "#dropzone",
                        start: function (e) {
                            $(".status").text("Starting upload...");
                        },
                        progress: function (e, data) {
                            $(".status").text("Uploading... " + Math.round((data.loaded * 100.0) / data.total) + "%");
                        },
                        fail: function (e, data) {
                            $(".status").text("Upload failed");
                        }
                    })
                    .off("cloudinarydone").on("cloudinarydone", function (e, data) {
                        $("#photo_bytes").val(data.result.bytes);
                        $(".status").text("");
                        $(".preview").html(
                                $.cloudinary.image(data.result.public_id, {
                                    format: data.result.format, width: 50, height: 50, crop: "fit"
                                })
                        );
                        view_upload_details(data.result);
                    });
        });

        function view_upload_details(upload) {
            // Build an html table out of the upload object
            var rows = [];
            $.each(upload, function (k, v) {
                rows.push(
                        $("<tr>")
                                .append($("<td>").text(k))
                                .append($("<td>").text(JSON.stringify(v))));
            });
            $("#info").html(
                    $("<div class=\"upload_details\">")
                            .append("<h2>Upload metadata:</h2>")
                            .append($("<table>").append(rows)));
        }
    </script>
{% endblock js %}