<ul class="pagination">
    {% if page_obj.has_previous %}
        <li><a href="?{{ page_obj.previous_page_number.querystring }}" class="prev">&laquo;</a></li>
    {% else %}
        <li class="disabled">&laquo;</li>
    {% endif %}

    {% for page in page_obj.pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <li class="active">{{ page }}</li>
            {% else %}
                <li><a href="?{{ page.querystring }}">{{ page }}</a></li>
            {% endifequal %}
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li><a href="?{{ page_obj.next_page_number.querystring }}" class="next">&raquo;</a></li>
    {% else %}
        <li class="disabled">&raquo;</li>
    {% endif %}
</ul>