{% load cloudinary %}
{% load staticfiles %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{% static "js/jquery.infinitescroll.min.js" %}"></script>
<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
<script src="{% static "js/masonry.pkgd.min.js" %}"></script>

{% cloudinary_includes %}
{% cloudinary_js_config %}

<script>

    $(document).ready(function() {
            var source = new EventSource('/events/');
            var events_dom = $("#events");
            var greeting_dom = $("#greeting");

            source.addEventListener('message', function(e) {
                greeting_dom.html("<div>" + e.data + "</div>");
            });

            source.addEventListener("date", function(e) {
                events_dom.append("<div>" + e.data + "</div>");
            });
        });

</script>