{% load endless %}
{% load cloudinary %}

{% paginate photos %}

    {% for photo in photos %}
      <div class="photo">
          <a href="{{ photo.image.url }}" target="_blank" class="public_id_link">
            <div class='public_id'>{{ photo.image.public_id }} - {{ photo.title }}</div>
            {# Renders an IMG tag for a CloudinaryImage objects. #}
            {# THUMBNAIL defined in context_processors #}
            {% cloudinary photo.image THUMBNAIL %}
          </a>
        <div class="less_info">
          <a href="#" class="toggle_info">More transformations...</a>
        </div>
        <div class="more_info">
          <a href="#" class="toggle_info">Hide transformations...</a>
          <table class="thumbnails">
            {% for sample in samples %}
              <td>
                <div class='thumbnail_holder'>
                  <a target='_blank' href='{% cloudinary_url photo.image.public_id sample %}'>
                    {% cloudinary photo.image sample %}
                  </a>
                </div>
                <br/>
                <table class='info'>
                  {% for key, value in sample.items %}
                    <tr><td>{{ key }}:</td><td>{{ value }}</td></tr>
                  {% endfor %}
                </table>
              </td>
            {% endfor %}
          </table>
          <div class="note">
             Take a look at our documentation of <a href="http://cloudinary.com/documentation/image_transformations" target="_blank">Image Transformations</a> for a full list of supported transformations.
          </div>
        </div>
      </div>
    {% endfor %}

{% show_more %}