{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Augeo{% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Augeo">
    <meta name="author" content="Anton Rau">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "css/social-buttons-3.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/augeo.css" %}" rel="stylesheet">
{#    <link href="{% static "css/photo_album.css" %}" rel="stylesheet">#}

    {% include "_ie.html" %}
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">

    {% include "_navbar.html" %}

    <!-- Begin page content -->
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

</div>

{% include "_login_modal_form.html" %}
{% include "_upload_modal_form.html" %}

<!-- Placed at the end of the document so the pages load faster -->
{% block js %}
    {% include "_scripts.html" %}
{% endblock js %}

</body>
</html>