{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Augeo{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Augeo">
    <meta name="author" content="Anton Rau">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "css/social-buttons-3.css" %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static "css/augeo.css" %}" rel="stylesheet">

    {% include "ie.html" %}
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">

    {% include "navbar.html" %}

    <!-- Begin page content -->
    {% block content %}
        <div class="container">
            <div class="page-header">
                <h1>Sticky footer with fixed navbar</h1>
            </div>
            <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom
                HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top:
                    60px;</code>
                on the <code>.container</code>.</p>

            <p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>
        </div>
    {% endblock %}

</div>

{% include "login_modal_form.html" %}

{% block footer %}
{% include "footer.html" %}
{% endblock %}


<!-- Placed at the end of the document so the pages load faster -->
{% include "scripts.html" %}

</body>
</html>