{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Augeo{% endblock title %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Augeo">
    <meta name="author" content="Anton Rau">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="{% static "css/social-buttons-3.css" %}" rel="stylesheet">

    <link href="{% static "css/augeo.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
</head>

<body>

<!-- Wrap all page content here -->
<div id="wrap">
    {% include "includes/_navbar.html" %}
    <!-- Begin page content -->
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</div>

{% if user.is_authenticated %}
    {% include "includes/_upload_modal_form.html" %}
{% else %}
    {% include "includes/_login_modal_form.html" %}
{% endif %}


<!-- Placed at the end of the document so the pages load faster -->
{% block js %}
    {% include "includes/_scripts.html" %}
{% endblock js %}

</body>
</html>